.header {
    background-color: #424242;
    color: white;
    text-align: center;
}

.main {
    background-color: #eeeeee;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}